<footer>
        <div id="footertop" class="container-fluid">
            <div class="row p-2">
                <div class="col-sm-12 text-center">
                        <span class="text-center" style="font-size:20px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                                Provaswito intend to explore itself as a platform promote new artists in world’s art fraternity.
                            </span>
                </div>
            </div>
        </div>
        <section id="footer" style="padding: 20px;">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <h5>About</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="http://sumanta.infinityfreeapp.com/mentors"><i class="fa fa-angle-double-right"></i>Mentors</a></li>
                            <li><a href="http://sumanta.infinityfreeapp.com/our-team"><i class="fa fa-angle-double-right"></i>Team</a></li>
                            <li><a href="http://sumanta.infinityfreeapp.com/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5>Quick links</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="http://sumanta.infinityfreeapp.com/art-exhibition"><i class="fa fa-angle-double-right"></i>Exhibition</a></li>
                            <li><a href="http://sumanta.infinityfreeapp.com/workshop"><i class="fa fa-angle-double-right"></i>Workshop</a></li>
                            <li><a href="http://sumanta.infinityfreeapp.com/cultural-program"><i class="fa fa-angle-double-right"></i>Cultural Program</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <h5>Events</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a>
                            </li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Term and
                                    Condition</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Disclaimer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a target="_blank" href="https://facebook.com/provaswito.org"><i class="fa fa-facebook"></i></a>
                            </li>
                            
                            <li class="list-inline-item"><a target="_blank" href="https://www.google.com/maps/place/Provaswito+Academy+of+Art+and+Culture/@23.7887266,87.3681024,14z/data=!4m8!1m2!2m1!1sprovaswito!3m4!1s0x39f75de12c9c8ab7:0x3380521acfd18943!8m2!3d23.7788706!4d87.3997126"><i
                                        class="fa fa-map-marker"></i></a></li>
                            <li class="list-inline-item"><a target="_blank" href="http://sumanta.infinityfreeapp.com/contact" target="_blank"><i
                                        class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                    </hr>
                </div>
               
            </div>

        </section>
        <div class="no-gutters social-container text-light">
            <div style="text-align: center; padding:3px; background: #09634e;" >
                    &copy <a style="color:white" href="https://provaswito.org">Provaswito.org</a> All right Reversed. Developed and
                    Maintained by <a href="#" style="color:white">Sumanta</a>
            </div>

        </div>
    </footer>