<div class="loader" style="display: none">Loading&#8230;</div>
<div class="" id="toppointer"></div>
<header>
  <nav
    class="navbar navbar-expand-lg navbar-light fixed-top"
    style="opacity: 1; background: #ffa707"
  >
    <a class="navbar-brand d-lg-none" href="#">
      <img
        src="front/images/logo.png"
        style="width: 100px; height: auto"
        alt="logo"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarToggle"
    >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            ><i class="fa fa-home"></i>&nbsp;Home
            <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-calendar" aria-hidden="true"></i> Events
          </a>
          <div
            class="dropdown-menu bg-warning"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="workshop"
              ><i class="fa fa-free-code-camp" aria-hidden="true"></i>
              Workshop</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="art-exhibition"
              ><i class="fa fa-trello" aria-hidden="true"></i> Art Exhibition</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="cultural-program"
              ><i
                class="fa fa-american-sign-language-interpreting"
                aria-hidden="true"
              ></i>
              Cultural Program</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="other-event"
              ><i class="fa fa-book" aria-hidden="true"></i> Other Event</a
            >
          </div>
        </li>

        <!--<li class="nav-item dropdown">-->
        <!--    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--        <i class="fa fa-user-plus"></i>&nbsp; Registration-->
        <!--    </a>-->
        <!--    <div class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">-->

        <!--        <a class="dropdown-item" href="index">International Art Exhibition, 2020</a>-->
        <!--<div class="dropdown-divider"></div>-->
        <!--<a class="dropdown-item" href="register/hey-nutan">হে নূতন (Hey Nutan)</a>-->

        <!--    </div>-->
        <!--</li>-->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> News Cover
          </a>
          <div
            class="dropdown-menu bg-warning"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="news-tv-cover"
              ><i class="fa fa-television" aria-hidden="true"></i> News TV
              Cover</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="news-paper-cover"
              ><i class="fa fa-newspaper-o" aria-hidden="true"></i> News Paper
              Cover</a
            >
          </div>
        </li>
      </ul>
      <a class="navbar-brand d-none d-lg-block text-center main-logo" href="#">
        <!-- Provaswito<br/>Logo -->
        <img
          src="front/images/logo.png"
          style="width: 125px; height: auto"
          alt="logo"
        />
      </a>
      <ul class="navbar-nav">
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-trophy" aria-hidden="true"></i> Results
          </a>
          <div
            class="dropdown-menu bg-warning"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="hey-nutan-result">
              <i class="fa fa-music" aria-hidden="true"></i>
              Hey Nutan Result 2020
            </a>

            <a class="dropdown-item" href="drawing-competition-result">
              <i class="fa fa-image" aria-hidden="true"></i> Drawing Competition
              2020</a
            >

            <a class="dropdown-item" href="index">
              <i class="fa fa-trello" aria-hidden="true"></i>
              International Online Art Exhibition, 2020
            </a>
          </div>
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fa fa-life-ring" aria-hidden="true"></i> About Us
          </a>
          <div
            class="dropdown-menu bg-warning"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item" href="#mentor">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              Our Mentors
            </a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#team">
              <i class="fa fa-users" aria-hidden="true"></i> Our Team</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">
            <i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<br />
