<section id="about" style="background: cornsilk">
  <div class="container-fluid">
    <div class="text-center">
      <h2>About Provaswito</h2>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <img
          src="front/images/home/tour-icon.png"
          width="100%"
          class="img-responsive"
          alt=""
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 about-text">
        <span class="dropcap">P</span>rovaswito started its journey in 2011 with
        some of the young, eloquent, aspired artists and they started organizing
        yearly exhibitions contexting painting, sculpture and photography, every
        year in occasion of basant Panchami or Saraswati Puja. It germinated in
        the enriched soil of Hetampur, Birbhum (land of pride), WB. Many artists
        from the different countries across the world register their names for
        participation and they also encourage and appreciate such efforts. It is
        still growing year after year with the efforts and inclinations towards
        its betterment and radiates as today’s Provaswito, a spirited centre for
        cultivating fine arts and an organization of young, devoted, dedicated,
        determined artists, cordially nurturing art and culture.
      </div>
      <div class="col-xs-12 col-sm-12 col-md-1"></div>
    </div>
  </div>
</section>
