<section id="contact" style="background: #cddc391f">
  <div class="container">
    <div class="text-center">
      <h2>Contact Details</h2>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <h3>Address</h3>
        <address>
          <span style="font-size: 20px; font-weight: bold"
            >Provaswito Academy of Art and Culture</span
          ><br />
          <span style="font-size: 15px"
            ><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Ganguly Para,
            Hetampur</span
          ><br />
          <span style="font-size: 15px"
            ><i class="fa fa-location-arrow" aria-hidden="true"></i> Birbhum-
            731124</span
          ><br />
          <span style="font-size: 15px">
            <i class="fa fa-map-marker" aria-hidden="true"></i> West
            Bengal</span
          ><br />
          <span style="font-size: 15px">
            <i class="fa fa-map-marker" aria-hidden="true"></i> India</span
          ><br />
        </address>
        <h3>Contact</h3>
        <address>
          <span style="font-size: 15px"
            ><i class="fa fa-at" aria-hidden="true"></i>&nbsp;
            provaswito@gmail.com</span
          ><br />
          <span style="font-size: 15px"
            ><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;+919064166610
            / +916295978956</span
          ><br />
        </address>

        <a href="contact" class="btn btn-primary m-2">
          <i class="fa fa-envelope"></i>Send Us a Feedback</a
        >
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <iframe
          style="
            box-shadow: 0px 0px 5px 0px #e2e2e2;
            border: 1px solid black;
            width: 100%;
            height: 300px;
          "
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.1163559919405!2d87.39752391438542!3d23.778870584575426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f75de12c9c8ab7%3A0x3380521acfd18943!2sProvaswito+Academy+of+Art+and+Culture!5e0!3m2!1sen!2sin!4v1561896340332!5m2!1sen!2sin"
          frameborder="0"
          allowfullscreen="allowfullscreen"
        >
        </iframe>
      </div>
    </div>
  </div>
</section>
