<div
  class="col-sm-12 text-center bottom-separator"
  style="background: #cddc391f"
>
  <img
    src="front/images/home/under.png"
    class="img-responsive inline"
    style="width: 80%"
    alt=""
  />
</div>
