<section id="mentor" style="background: #cddc391f">
  <div class="container">
    <div class="text-center">
      <h2>Mentor</h2>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 mentorimage">
            <img
              src="front/images/mentor/tarak-garai.jpg"
              width="100%"
              height="270px"
              class="img-responsive"
              alt=""
            />
            <div class="text-center mentorname">MR. TARAK GARAI</div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 mentorimage">
            <img
              src="front/images/mentor/samiran-nandy.jpg"
              width="100%"
              height="280px"
              class="img-responsive"
              alt=""
            />
            <div class="text-center mentorname">MR. SAMIRAN NANDY</div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 mentorimage">
            <img
              src="front/images/mentor/wasim-kapoor.jpg"
              width="100%"
              height="280px"
              class="img-responsive"
              alt=""
            />
            <div class="text-center mentorname">MR. WASHIM KAPOOR</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
