 <section id="mission" style="background:#e8f7e891; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <div class="container">
            <div class="text-center">
                <p><img src="front/images/home/clients.png" class="img-responsive" alt=""></p>
                <h2><strong>Mission and Vision</h2></strong>
            </div>

            <p class="text-center" style="font-size:25px;">
                Provaswito intend to explore itself as a platform promote new artists in world’s art fraternity.
            </p>

        </div>
    </section>