<section id="team" style="background: #b7abe40d">
  <div class="container">
    <div class="text-center">
      <h2>Meet the Team</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 mentorimage">
            <img
              src="front/images/team/jit-ganguly-918x1024.jpg"
              height="270px"
              width="90%"
              class="img-responsive"
              alt=""
            />
            <div class="text-center mentorname">
              Jit Ganguly<br />
              <span style="font-size: 18px">(Founder, Director)</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 mentorimage">
            <img
              src="front/images/team/chandan-karmakar-700x1024.jpg"
              height="270px"
              width="75%"
              class="ml-4 img-responsive"
              alt=""
            />
            <div class="text-center mentorname">
              Chandan Karmakar<br />
              <span style="font-size: 18px"> (Joint Director)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
