<section id="timeline" style="background: #b7abe40d">
  <div class="container-fluid">
    <div class="text-center">
      <h2>Timeline Event</h2>
    </div>
    <div class="container-fluid mt-5 mb-5">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <ul class="timeline">
            <a
              target="_blank"
              style="padding-left: 20px; font-size: 20px; font-weight: bold"
              >Event Name and Location</a
            >
            <a
              class="float-right date"
              style="padding-left: 20px; font-size: 20px; font-weight: bold"
              ><i class="fa fa-calendar" aria-hidden="true"></i> Date</a
            >

            <br />
            <hr />
            <li>
              <a href="art-exhibition">1. Hetampur Art Exhibition, 2014</a>
              <a class="float-right date-text">2014</a>

              <p>
                <b><i>National Level Art Exhibition</i></b> <br />
                <b>Participants from</b> - India. <br />
                <b>Place</b> – Hetampur
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="workshop">2. Photography Workshop, 2018</a>
              <a class="float-right date-text">21st January 2018</a>
              <p>
                <b>Instructor</b> - Samiran Nandy. <br />
                <b>Participants from</b> - West Bengal (India). <br />
                <b>Place</b> – Hetampur
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="art-exhibition">3. Hetampur Art Exhibition, 2018</a>
              <a class="float-right date-text"
                >22nd January 2018 to 26th January 2018</a
              >
              <p>
                <b><i>First International Art Exhibition</i></b>
                <br />
                <b>Participants from</b> - India, Bangladesh, New York,
                Thailand. <br />
                <b>Place</b> – Hetampur
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="art-exhibition">4. Academy of Fine Arts</a>
              <a class="float-right date-text"
                >19th June 2018 to 25th June 2018</a
              >
              <p>
                <b>Participants from</b> - India, Bangladesh, New York. <br />
                <b>Place</b> – Academy of Fine Arts, Kolkata
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="art-exhibition"
                >5. International Winter art Exhibition</a
              >
              <a class="float-right date-text"
                >5th December 2018 to 11th December 2018</a
              >
              <p>
                <b>Participants from</b> - India, Bangladesh.<br />
                <b>Place</b> – Nazrul Tirtha (Ground Floor), <br />
                Newtown, Kolkata
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="cultural-program">6. Birbhum Shilpo Utshav</a>
              <a class="float-right date-text"
                >10th February 2019 to 14th February 2019</a
              >
              <p>
                <b>Participants from</b> - India, Bangladesh, New York. <br />
                <b>Place</b> – Hetampur, Birbhum.
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="workshop">7. National Level Terracotta Workshop 2019</a>
              <a class="float-right date-text"
                >11th February 2019 to 12th February</a
              >
              <p>
                <b>Instructor</b> - Tarak Garai.<br />
                <b>Participants from</b> - India. <br />
                <b>Place</b> – Hetampur, Birbhum.
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="workshop"
                >8. International Wash Painting Workshop 2019</a
              >
              <a class="float-right date-text"
                >28th August 2019 to 30th August 2019</a
              >
              <p>
                <i><b>The Great Presence of Shri Nandadulal Mukherjee</b></i>
                <br />(Ex-Principal of Kala-Bhavana, Visva-Bharati)<br />
                <b>Instructor</b> - Rajib Gain.<br />

                <b>Participants From</b> - India, Bangladesh.<br />
                <b>Place</b> - Santiniketan, Birbhum
              </p>
            </li>
            <br />
            <hr />
            <li>
              <a href="other-event"
                >9. Nimagna-Bhuvan School of Art & Craft Official Opening</a
              >
              <a class="float-right date-text">2019</a>
              <p>
                <i><b></b></i> <br /><br />
              </p>
            </li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
