<section
  id="wokshop"
  style="
    background: cornsilk;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
    padding-top: 80px;
  "
>
  <div class="container">
    <div class="text-center">
      <h2>
        <span
          style="
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          Provaswito Art Exhibition
        </span>
      </h2>
      <br />
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/1.jpg"
              alt="Lights"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Hetampur Art Exhibition, 2014
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/2.jpg"
              alt="Nature"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                International Art Exhibition, Hetampur, 2018
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/3.jpg"
              alt="Fjords"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Academy of Fine Arts, International Art Exhibition Gallery
                Image, 2018
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/4.jpg"
              alt="Fjords"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Winter Art Exhibition, Nazrul Tirtha, 2018
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/5.jpg"
              alt="Fjords"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Birbhum Shilpo Utshav, 2019
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/6.jpg"
              alt="Fjords"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Child Art &amp; Craft Exhibition at Kumardihi Nivedita
                Bidyaniketan, 2019
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/exhibition/7.jpg"
              alt="Fjords"
              class="exhibitionimg"
              style="width: 100%; height: 240px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Provaswito Annual Art Exhibition 2019 at Birla Academy of Art
                &amp; Culture , Kolkata
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>
