<section
  id="wokshop"
  style="
    background: cornsilk;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
    padding-top: 80px;
  "
>
  <div class="container">
    <div class="text-center">
      <h2>
        <span
          style="
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          Cultural Program <br />
        </span>
      </h2>
      Organized by Provaswito
      <br />
    </div>

    <div class="row mt-5">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/cultural/1.jpg"
              alt=""
              class="culturalimg"
              style="width: 100%"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Folk Group Performance
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/cultural/2.jpg"
              alt=""
              class="culturalimg"
              style="width: 100%"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Classical Song Performance
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="">
            <img
              src="front/images/gallery/cultural/3.jpg"
              alt=""
              class="culturalimg"
              style="width: 100%; height: 250px"
            />
            <div class="caption">
              <p style="color: black; font-weight: bold; text-align: center">
                Baul Performance by Kangal Das Baul
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>
